{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<p>Welcome {{ session['user_name'] }}</p>

<hr>

<div class="stats-container">

    <div class="stat-card">
        <h3>📚 Total Entries</h3>
        <h1>{{ total_entries }}</h1>
    </div>

    <div class="stat-card">
        <h3>⏱ Study Hours</h3>
        <h1>{{ total_hours }}</h1>
    </div>

    <div class="stat-card">
        <h3>🎯 Latest Topic</h3>
        <h1>{{ latest_topic }}</h1>
    </div>

    <div class="stat-card">
        <h3>🔥 Current Streak</h3>
        <h1>{{ streak }} Days</h1>
    </div>

    <div class="stat-card">
        <h3>💻 Total Problems</h3>
        <h1>{{ total_problems }}</h1>
    </div>
    
    <div class="stat-card">
        <h3>🟢 Easy</h3>
        <h1>{{ easy_count }}</h1>
    </div>
    
    <div class="stat-card">
        <h3>🟡 Medium</h3>
        <h1>{{ medium_count }}</h1>
    </div>
    
    <div class="stat-card">
        <h3>🔴 Hard</h3>
        <h1>{{ hard_count }}</h1>
    </div>

</div>

<hr>


<h3>📊 Analytics</h3>
<div class="chart-box">
    <canvas id="difficultyChart"></canvas>
</div>

<h3>📚 Weekly Study Hours</h3>

<div class="chart-box">
    <canvas id="weeklyStudyChart"></canvas>
</div>

<hr>

<h3>🤖 AI Study Insight</h3>

<div class="ai-box">
    <p>{{ ai_insight }}</p>
</div>

<hr>

<h3>🏆 Achievements</h3>

<div class="badge-container">
    {% for badge in badges %}
        <div class="badge-card">
            {{ badge }}
        </div>
    {% endfor %}
</div>

<p>🚀 Advanced analytics charts coming soon.</p>

<a href="/download-report">
    <button>📄 Download PDF Report</button>
</a>

<br><br>

<a href="/learning">Add Learning Entry</a>

<br><br>

<a href="/logout">Logout</a>

<hr>

<script>
    const difficultyLabels = [
        {% for row in difficulty_data %}
            "{{ row.difficulty }}",
        {% endfor %}
    ];

    const difficultyCounts = [
        {% for row in difficulty_data %}
            {{ row.count }},
        {% endfor %}
    ];

    const difficultyCtx = document.getElementById("difficultyChart");

    new Chart(difficultyCtx, {
        type: "pie",
        data: {
            labels: difficultyLabels,
            datasets: [{
                data: difficultyCounts
            }]
        }
    });
</script>

<script>
const weeklyLabels = [
    {% for row in weekly_study_data %}
        "{{ row.day_name }}",
    {% endfor %}
];

const weeklyHours = [
    {% for row in weekly_study_data %}
        {{ row.total_hours }},
    {% endfor %}
];

const weeklyCtx = document.getElementById("weeklyStudyChart");

new Chart(weeklyCtx, {
    type: "bar",
    data: {
        labels: weeklyLabels,
        datasets: [{
            label: "Study Hours",
            data: weeklyHours
        }]
    }
});
</script>

{% endblock %}