{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<p>Welcome {{ session['user_name'] }}</p>

<hr>

<div class="stats-container">

    <div class="stat-card">
        <h3>📚 Total Entries</h3>
        <h1>{{ total_entries }}</h1>
    </div>

    <div class="stat-card">
        <h3>⏱ Study Hours</h3>
        <h1>{{ total_hours }}</h1>
    </div>

    <div class="stat-card">
        <h3>🎯 Latest Topic</h3>
        <h1>{{ latest_topic }}</h1>
    </div>

    <div class="stat-card">
        <h3>🔥 Current Streak</h3>
        <h1>{{ streak }} Days</h1>
    </div>

</div>

<hr>


<h3>📊 Analytics</h3>

<hr>

<h3>🤖 AI Study Insight</h3>

<div class="ai-box">
    <p>{{ ai_insight }}</p>
</div>

<hr>

<h3>🏆 Achievements</h3>

<div class="badge-container">
    {% for badge in badges %}
        <div class="badge-card">
            {{ badge }}
        </div>
    {% endfor %}
</div>

<p>🚀 Advanced analytics charts coming soon.</p>

<a href="/learning">Add Learning Entry</a>

<br><br>

<a href="/logout">Logout</a>

<hr>

{% endblock %}